/*@import "styles/themes.css";*/

:root .light-theme {
    --page-color: #C4C4C4;
    --bg-color: #FFFFFF;
    --bg-description-color: #bababa;
    --text-color: #111111;
}

:root .dark-theme {
    --page-color: #C4C4C4;
    --bg-color:  #444444;
    --bg-description-color: #222222;
    --text-color: #FFFFFF;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    padding: 0;
    margin: 0;

    line-height: 1.15;
    font-family: Helvetica, sans-serif;
    font-size: 20px;

    background: var(--page-color);
    color: var(--text-color);
}

.cv-card {
    display: flex;

    width: 1127px;
    height: 595px;

    background: var(--bg-color);
    border-radius: 30px;
}


.main-information {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    width: 260px;
    height: 509px;
    padding: 70px 78px 16px 76px;
}

.main-information-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-information-header__my-photo {
    display: flex;

    width: 180px;
    height: 180px;

    border-radius: 100%;
    box-shadow: 12px 12px #C4C4C4
}

.main-information-header__name {
    display: flex;

    padding: 29px 0 0 0;

    line-height: 44px;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}

.main-information-header__profession {
    display: flex;

    padding: 8px 0 0 0;

    line-height: 23px;
    text-align: center;
}

.main-information-header__social-links {
    display: flex;
    flex-direction: row;

    padding: 16px 0 0 0;
}

.social-media__ok-img {
    width: 24px;
    height: 24px;

    margin: 0 10px 0 0;

    border-radius: 100%;
    background: #C4C4C4;
}

.social-media__vk-img {
    width: 24px;
    height: 24px;

    margin: 0 10px 0 0;

    border-radius: 100%;
    background: #C4C4C4;
}

.social-media__gh-img {
    width: 24px;
    height: 24px;

    border-radius: 100%;
    background: #C4C4C4;
}

.main-information-header__download-cv-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 168px;
    height: 46px;
    margin: 57px 0 0 0;
    padding: 0 0 0 0;

    line-height: 20px;
    font-size: 17px;
    text-align: center;
        color: var(--text-color);

    background: var(--bg-color);
    border: 3px solid var(--text-color);
    box-sizing: border-box;
    border-radius: 40px;
}

.main-information-header__copyright-with_change-theme-button {
    display: flex;
    padding: 66px 0 0 0;
}


.copyright-with-button__copyright{
    display: inline;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

.copyright-with-button__change-theme-button {
    display: inline;
    height: 16px;
    width: 16px;
    background: var(--bg-description-color);
}

.description {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 747px;
    height: 595px;

    background: var(--bg-description-color);
    border-radius: 30px;
}

.description_about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.description_about-me__name{
    display: flex;

    margin: 0;

    line-height: 71px;
    font-weight: bold;
    font-size: 62px;
    text-align: center;
}

.description_about-me__profession {
    display: flex;

    margin: 8px 0 0 0;

    line-height: 24px;
    font-size: 22px;
    text-align: center;
}