:root .light-theme {
  --page-color: #8f8686;
  --bg-color: #FFFFFF;
  --bg-description-color: #bababa;
  --text-color: #111111;
}

:root .dark-theme {
  --page-color: #FFFFFF;
  --bg-color:  #444444;
  --bg-description-color: #222222;
  --text-color: #FFFFFF;
}